input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']):not([type='radio']), textarea, button, select {
	-moz-appearance: none !important;
	background-color: white;
	color: #333;
	border-color: #dddddd;
	border-radius: 3px;
	box-shadow: none;
	border-style: solid;
	border-width: 1px;
	padding: 4px 8px;
}

input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']):not([type='radio']):focus, textarea:focus{
/*	box-shadow: 0px 0px 1px 1px #4360feb3;*/
}

select{
	background-image: url("dropdown.png");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center;
	padding-right: 14px;
	background-size: 12px;
}

select option{
	-moz-appearance: none !important;
	background-color: white;
	color: #333;
}

#downloads-indicator-counter {
    color: white;
}
